<div class="col-xs-6">
  <%= form_for @story do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title, :class => "form-control" %>
  <%= f.submit 'Submit', :class => "btn btn-primary"%>
  <% end %>
</div>
