<h1>Stories</h1>

<ul>
  <% @stories.each do |story| %>
    <li><%= link_to story.title, story_path(story) %></li>
  <% end %>
</ul>

<p><%= link_to "Create a New Story", new_story_path %></p>
<p><%= link_to "View Inspiring Images", images_path %></p>
